# Atividade 2.3

### Importanto bibliotecas e acessando a Base de Dados

! Base de Dados do dia: 11/10/2021

In [ ]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


### Abrindo o DataSet
#### Modificações Iniciais da Base

data = pd.read_csv('Manaus.csv',sep=';', header=None, skiprows=0)

In [3]:
data.columns = data.iloc[0]

In [5]:
data = data.drop(0)

In [6]:
data.head()

,_dt_evolucao,_dt_notificacao,_dt_sintomas,_classificacao,_conclusao,_origem,_comorb_cardio,_comorb_cromossomica,_comorb_diabetes,_comorb_hemato,...,_sintoma_tosse,_sintoma_outros,_srag,_teste_anticorpo,_teste_antigeno,_teste_pcr,_bairro,_bairro_mapa,_distrito,_taxa
1,25/01/2020 00:00,03/01/2020 00:00,01/01/2020 00:00,Descartado,Recuperado,"SIVEP,",NaN,NaN,NaN,NaN,...,Sim,Sim,SRAG não especificado,NaN,NaN,NaN,TARUMA,TARUMÃ,OESTE,"0,243042897"
2,03/01/2020 00:00,03/01/2020 00:00,01/01/2020 00:00,Descartado,Óbito,"SIVEP,",NaN,NaN,NaN,NaN,...,Sim,Sim,Influenza B,NaN,NaN,NaN,TARUMA-ACU,TARUMÃ-AÇÚ,OESTE,"0,684931507"
3,05/01/2020 00:00,03/01/2020 00:00,03/01/2020 00:00,Descartado,Óbito,"SIVEP,",NaN,NaN,NaN,NaN,...,Sim,Sim,SRAG não especificado,NaN,NaN,NaN,JORGE TEIXEIRA,JORGE TEIXEIRA,LESTE,"0,073137374"
4,16/01/2020 00:00,08/01/2020 00:00,04/01/2020 00:00,Descartado,Óbito,"SIVEP,",NaN,NaN,NaN,NaN,...,Sim,Sim,SRAG não especificado,NaN,NaN,NaN,FLORES,FLORES,SUL,"0,198306463"
5,11/01/2020 00:00,08/01/2020 00:00,05/01/2020 00:00,Descartado,Recuperado,"SIVEP,",NaN,NaN,NaN,NaN,...,Sim,Sim,SRAG não especificado,NaN,NaN,NaN,CIDADE DE DEUS,CIDADE DE DEUS,NORTE,"0,117699678"

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243984 entries, 1 to 243984
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   _dt_evolucao          119011 non-null  object
 1   _dt_notificacao       243913 non-null  object
 2   _dt_sintomas          235760 non-null  object
 3   _classificacao        243984 non-null  object
 4   _conclusao            180928 non-null  object
 5   _origem               243984 non-null  object
 6   _comorb_cardio        13686 non-null   object
 7   _comorb_cromossomica  527 non-null     object
 8   _comorb_diabetes      9981 non-null    object
 9   _comorb_hemato        175 non-null     object
 10  _comorb_hepatica      135 non-null     object
 11  _comorb_imuno         1805 non-null    object
 12  _comorb_neurologica   542 non-null     object
 13  _comorb_obessidade    573 non-null     object
 14  _comorb_renal         1098 non-null    object
 15  _comorb_respiratoria  5722 non-null    object
 16  _criterio             13084 non-null   object
 17  _etnia                42 non-null      object
 18  _evolução             21578 non-null   object
 19  _idade                243913 non-null  object
 20  _faixa etária         243913 non-null  object
 21  _gestante             1775 non-null    object
 22  _profiss_saude        16590 non-null   object
 23  _raca                 213506 non-null  object
 24  _se_notificacao       243913 non-null  object
 25  _sexo                 243497 non-null  object
 26  _sintoma_dispneia     59038 non-null   object
 27  _sintoma_febre        107189 non-null  object
 28  _sintoma_garganta     73809 non-null   object
 29  _sintoma_tosse        112833 non-null  object
 30  _sintoma_outros       97691 non-null   object
 31  _srag                 14092 non-null   object
 32  _teste_anticorpo      138919 non-null  object
 33  _teste_antigeno       23196 non-null   object
 34  _teste_pcr            58306 non-null   object
 35  _bairro               240419 non-null  object
 36  _bairro_mapa          230641 non-null  object
 37  _distrito             230641 non-null  object
 38  _taxa                 230641 non-null  object
dtypes: object(39)
memory usage: 74.5+ MB

#### Removendo Casos que não são confirmados

In [8]:
x = data.loc[data['_classificacao']!='Confirmado']

x.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            243970, 243972, 243973, 243975, 243976, 243977, 243979, 243981,
            243982, 243984],
           dtype='int64', length=163564)

In [9]:
data = data.drop(x.index)

In [10]:
data['_classificacao'].value_counts()

Confirmado    80420
Name: _classificacao, dtype: int64

In [11]:
data = data.drop(columns=['_comorb_cardio','_comorb_cromossomica','_comorb_diabetes','_comorb_hemato','_comorb_hepatica','_comorb_imuno','_comorb_neurologica','_comorb_obessidade','_comorb_renal','_comorb_respiratoria',
'_sintoma_dispneia','_sintoma_febre','_sintoma_garganta','_sintoma_tosse','_sintoma_outros','_etnia','_evolução','_profiss_saude','_dt_evolucao','_dt_sintomas','_gestante','_raca'])

In [12]:
data.head()

,_dt_notificacao,_classificacao,_conclusao,_origem,_criterio,_idade,_faixa etária,_se_notificacao,_sexo,_srag,_teste_anticorpo,_teste_antigeno,_teste_pcr,_bairro,_bairro_mapa,_distrito,_taxa
131,23/02/2020 00:00,Confirmado,Recuperado,"SIVEP, GAL",Laboratorial,12,10a - 14a,9,F,SRAG não especificado,NaN,NaN,1,MAUAZINHO,MAUAZINHO,LESTE,"0,35040998"
145,28/02/2020 00:00,Confirmado,Recuperado,"SIVEP, GAL",Laboratorial,39,30a - 39a,9,F,Vírus Sincicial Respiratório,NaN,NaN,1,NOVO ALEIXO,NOVO ALEIXO,NORTE,"0,085452557"
154,02/03/2020 00:00,Confirmado,Recuperado,"SIVEP, eSUS VE,",Laboratorial,2,1a - 4a,10,F,SRAG não especificado,1,NaN,NaN,PRACA 14 DE JANEIRO,PRAÇA 14 DE JANEIRO,SUL,"0,861920359"
159,02/03/2020 00:00,Confirmado,Recuperado,"SIVEP, eSUS VE,",Laboratorial,71,70a - 79a,10,F,SRAG não especificado,2,NaN,NaN,FLORES,FLORES,SUL,"0,198306463"
197,11/03/2020 00:00,Confirmado,Recuperado,"SIVEP, GAL",Clínico,46,40a - 49a,11,F,SRAG não especificado,NaN,NaN,2,CIDADE NOVA,CIDADE NOVA,NORTE,"0,068152389"

In [13]:
#data.dropna(subset=['_dt_notificacao','_classificacao','_conclusao','_origem','_criterio','_idade','_faixa etária','_se_notificacao','_sexo','_srag','_teste_anticorpo','_teste_antigeno','_teste_pcr','_bairro','_bairro_mapa','_distrito','_taxa'],inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80420 entries, 131 to 243983
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _dt_notificacao   80395 non-null  object
 1   _classificacao    80420 non-null  object
 2   _conclusao        42774 non-null  object
 3   _origem           80420 non-null  object
 4   _criterio         8842 non-null   object
 5   _idade            80395 non-null  object
 6   _faixa etária     80395 non-null  object
 7   _se_notificacao   80395 non-null  object
 8   _sexo             80301 non-null  object
 9   _srag             9095 non-null   object
 10  _teste_anticorpo  52177 non-null  object
 11  _teste_antigeno   8342 non-null   object
 12  _teste_pcr        23308 non-null  object
 13  _bairro           79649 non-null  object
 14  _bairro_mapa      76699 non-null  object
 15  _distrito         76699 non-null  object
 16  _taxa             76699 non-null  object
dtypes: object(17)
memory usage: 11.0+ MB

###### REMOVENDO LINHAS SEM BAIRROS IDENTIFICADOS

In [47]:
nan_value = float("NaN")
data['_bairro'].replace("", nan_value, inplace=True)
data['_bairro'].isnull()

131       False
145       False
154       False
159       False
197       False
          ...
243924    False
243974    False
243978    False
243980    False
243983    False
Name: _bairro, Length: 79649, dtype: bool